
img{
  height: 150px;
  width: 150px;
}
.cart-wraper{
  width: fit-content;
  margin-left: 20px;
  padding: 20px 40px;
  border: 2px solid rgb(110, 108, 108);
  border-radius: 10px;
}
button{
  padding: 10px;
  cursor:pointer;
  border: none;
  background: chartreuse;
  border-radius: 5px;
  
}
.add-to-cart{
display: flex;
justify-content: space-between;
}
.add-to-cart  img{
  margin-right: 20px;
 height: 80px;
 width: 80px;
 color: cornflowerblue;
}
.add-to-cart-icon{
  margin-top:-20px;
  background: red;
  padding: 10px 15px;
  border-radius: 100px;
  border: 2px solid;
}
.particles-js{
  background: #121FCF;
  background: -webkit-repeating-radial-gradient(circle farthest-corner at center center, #121FCF 99%, #00FF00 50%, #3ECFC5 100%);
  background: -moz-repeating-radial-gradient(circle farthest-corner at center center, #121FCF 99%, #00FF00 50%, #3ECFC5 100%);
  background: repeating-radial-gradient(circle farthest-corner at center center, #121FCF 99%, #00FF00 50%, #3ECFC5 100%);
}